<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
    <div class="container-fluid col-3">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a
                    [ngClass]="[
                        'nav-link',
                        routeActive === routes.ACCOUNT ? 'active' : ''
                    ]"
                    [routerLink]="routes.ACCOUNT"
                    >Account</a
                >
            </li>
            <li class="nav-item">
                <a
                    [ngClass]="[
                        'nav-link',
                        routeActive === routes.ADDRESS ? 'active' : ''
                    ]"
                    [routerLink]="routes.ADDRESS"
                    >Address</a
                >
            </li>
            <li class="nav-item">
                <a
                    [ngClass]="[
                        'nav-link',
                        routeActive === routes.PERSONAL ? 'active' : ''
                    ]"
                    [routerLink]="routes.PERSONAL"
                    >Personal</a
                >
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
